@import '@/style/global.scss';
.layout {
  width: 100%;
  height: 100vh;
  .page-container {
    height: calc(100vh - 223.5px);
    @include flex();
    @include flex-center();
    overflow-y: auto;
    > div {
      padding: 20px;
      max-width: 1200px;
      width: 100%;
    }
  }
}
