@import '@/style/global.scss';

.header-wrap {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  padding: 0 20px;
  flex-shrink: 0;
  @include flex();
  .logo {
    @include flex();
    @include flex-center();
    @include align-center();
    flex-shrink: 0;
    color: orange;
    margin-right: 20px;
  }
}
